@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Rubik+Microbe&family=Supermercado+One&display=swap');
body{
    background-color: rgb(227, 187, 106);
    text-align: center;
}
h1 {
    font-family: 'Rubik Microbe', cursive;
    font-size: 100px;
    text-align: center;
}
h2 {
    font-family: 'Rubik Microbe', cursive;
    font-size: 70px;
    text-align: center;
}
.box {
    align-items: center;
    background-color: grey;
    border: 1px solid orange;
    color: blue;
    display: flex;
    font-family: sans-serif;
    height: 80px;
    overflow: hidden;
    justify-content: center;
}

button {
    color: rgb(11, 11, 11);
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(228, 176, 62)
}